* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-head {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(23, 16, 16), rgb(43, 43, 43));
}

.form-element {
  padding: 2.8rem;
  width: 400px;
  border: 2px solid;
  border-radius: 50px;
  background: rgb(54, 34, 34);
  color: white;
}

.link-style {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: slategray;
  font-weight: 600;
}

.spinner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(51, 1, 1);
  font-size: 4rem;
}
